.container{
	padding-top: 20px;
	width: 60%;
}

p{
	font-size:15px;
}
#logo{
	height:100px;
	width: 250px;
	margin-left: 35%;
}

.btn{
	background-color: #2E0854;
	color: #FFFFFF;
}
#openBTN{
	margin-top:10px;
	margin-left: 9px;
	height: 40px;
	width: 85px;
	float: left;
}
.navbar, .navbar-fixed-top{
	background-color: #2E0854;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.row{
	width: 
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.navbar {
	height: 80px;
}

.navbar-brand{
	width: 20%;
}
.carousel{
	width: 680px;
	height: 383px;
	margin: auto;
}

h4{
	font-size: 10px;
}

h2{
	font-size: 20px;
	}
	
.carousel-caption{
	padding-bottom: 0;
}